<div class="container" style="background-image: url('assets/img/home-page.jpg')">
    <mat-card class="login-card">
      <mat-card-content>
        <button mat-button color="red" routerLink="/login">Login</button>
        <button mat-button color="black">Signup</button>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="about-card">
      <mat-card-content>
        <p class="about-text">Smart Asset</p>
        <p>We are developing a full-fledged system that will help users analyze and predict Land, Real Estate, property and cars prices, based on historical data from several data sources. The System will also be responsible for recommending loans to users and establish an installment plan for users to fulfill their loan requirements.
        </p>
      </mat-card-content>
    </mat-card>
  </div>