/* home.component.css */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .login-card {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .about-card {
    max-width: 400px;
    padding: 20px;
  }
  
  .about-text {
    font-size: 24px;
    margin-bottom: 10px;
  }
  